// Mixins Here

.flex-box(@justify,@align,@direction:row,@wrap:nowrap){
    display: flex;
    flex-flow: @direction @wrap;
    justify-content: @justify;
    align-items: @align;
    padding: 3% 23% 1%;
    width: 100%;
}

.btn-style(){
    width: 30%;
    height: 35px;
    background-color: @btn-bg-color;
    color: white;
    border-radius: 5px;
    font-size: 1.8rem;
    border: none;
}